* {
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
	line-height: 1.5;
}

:root {
	--white: #ffffff;
	--lightgray1: #dddddd;
	--lightgray2: #cccccc;
	--lightgray3: #bbbbbb;
	--lightgray4: #aaaaaa;
	--gray: #807e7e;
	--darkgray: #353535;
	--pink: #d63384;
	--purple: #6610f2;
	--primary: #0d6efd;
	--transparent:#ffffff00;
	--green: #198754;
	--orange: #fd7e14;
	--red: #dc3545;
	--black: #111;
	--theme-bg: rgb(17, 24, 39);
	--theme-bg2: #212529;
}

main {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 100vh;
}

.white-board {
	width: calc(100% - 80px);
	height: 100%;
	background-color: var(--theme-bg2);
	padding: 0;
	overflow: hidden;
}


canvas {
	display: block;
}


.menu {
	display: flex;
	flex-direction: column;
	width: 80px;
	height: 100%;
	background-color: var(--darkgray);
}

.menu div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.menu i {
	font-size: 1.5rem;
	transition: all 0.3s linear;
	color: var(--lightgray4);
}

.menu div:hover>i {
	color: var(--green);
	font-size: 1.6rem;
}


/* tooltip  */
.tooltip {
	visibility: hidden;
	width: fit-content;
	background-color: black;
	color: var(--lightgray2);
	border-radius: 6px;
	padding: 10px 20px;
	position: fixed;
	left: 90px;
	opacity: 0;
	transition: opacity 1s;
}

.menu div:hover>.tooltip {
	visibility: visible;
	opacity: 1;
}


/* Zoom Box - FIX */
.zoom-box {
	display: flex;
	display: none;
	font-size: 1.2rem;
	width: 170px;
	height: 40px;
	border-radius: 0.4rem;
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-color: var(--lightgray1);
}

.zoom-box .number {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid var(--gray);
	border-right: 2px solid var(--gray);
}

.zoom-box .icon {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0.7;
}

.zoom-box .icon:hover {
	opacity: 1;
}
.zoom-box .icon:active {
	font-size: 1.1rem;
}

input {
	border: none;
	padding: 0;
	margin:0;
	background-color: var(--darkgray);
}